<!--STYLES SPECIFIC TO THIS LAYOUT-->
<link rel="stylesheet" href="/styles/otherStyles/profile.css">
<link rel="stylesheet" href="/styles/otherStyles/home.css">
<script src="/js/home/info.js"></script>
<script src="/js/home/posts.js"></script>

<div class="mainDiv" data-ng-app="home">
	<div id="asideContent" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-ng-controller="info" data-ng-init="init(<%= logged %>)">
		<h1 id="homeHeader">Bem-vindo,</h1>
		<a href="/profile/{{logged.login}}"><h1 id="homeHeader">{{logged.displayName != null ? logged.displayName : logged.login}}</h1></a>
		<div id="groupsContainer">
			<h2 id="groupsHeader">Grupos:</h2>
			<a class="groups" href="/group/{{group.id}}" data-ng-repeat="group in logged.groups"><p>{{group.name}} ({{group.owner}})</p></a>
			<a href="createGroup">
				<input type="button" id="createGroup" class="btn-primary roundedContainer" value="Criar novo grupo"/>
			</a>
		</div>
		<a id="reportLink" href="reports"><p id="reportLabel">Relatórios</p></a>
	</div>
	<div id="postsColumn" class="col-xs-9 col-sm-9 col-md-9 col-lg-9" data-ng-controller="posts" data-ng-init="init(<%= logged %>)">
		<div id="searchComment" class="row">
			<input id="searchBarComment" type="search" placeholder="Procurar por postagens" data-ng-model="filter"/>
			<input id="searchIconComment" type="image" alt="Pesquisar por postagens" title="Pesquisar por postagens" src="/images/search.png" data-ng-click="getFollowingPosts()"/>
		</div>
		<div id="posts" class="row">
			<div class="writePostContainer row">
				<div class="row labelNewPostRow">
					<h3 class="labelNewPost">Escrever uma postagem</h3>
				</div>
				<div class="row writePostTitleRow">
					<input type="text" class="inputPostTitle" placeholder="Título" autofocus data-ng-model="newPost.title"/>
				</div>
				<div class="row writePostRow">
					<textarea class="inputPost" placeholder="Escreva seu post aqui" data-ng-model="newPost.content"></textarea>
				</div>
				<input type="button" value="Postar" class="btn-primary roundedContainer postPost" data-ng-click="newPost()"/>
			</div>
			<div class="postInfo row" data-ng-repeat="post in posts track by $index">
				<div class="postTextContainer row">
					<div class="row titleCreatorRow">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<h3 class="postTitle">{{post.title}}</h3>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<a href="/profile/{{post.authorLogin}}"><h4 class="postCreator">{{post.authorDisplayName}} ({{post.authorLogin}})</h4></a>
						</div>
					</div>
					<p class="postText" data-ng-hide="editing == $index" data-ng-bind-html="parse(post.content)"></p>				<!--Troca esse pelo de baixo se estiver editando-->
					<textarea class="postText" data-ng-hide="editing != $index" data-ng-model="post.content"></textarea>
					<p class="postedAt">{{post.postedAt | date : "dd/MM/yyyy, HH:mm"}}</p>
				</div>
				<div class="postButtonsContainer row">
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 buttonCols">
						<input type="image" class="buttonsPost" alt="Gostei" title="Gostei" src="/images/like.png" data-ng-click="likeContent($index)"/>
						<p class="nLikesUnlikes">{{post.likes}}</p>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 buttonCols">
						<input type="image" class="buttonsPost" alt="Não gostei" title="Não gostei" src="/images/unlike.png" data-ng-click="unlikeContent($index)"/>
						<p class="nLikesUnlikes">{{post.unlikes}}</p>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 buttonCols">
						<input type="image" class="buttonsPost" alt="Comentar" title="Comentar" src="/images/comment.png"/>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 buttonCols">
						<input type="image" class="buttonsPost" alt="Compartilhar" title="Compartilhar" src="/images/share.png" data-ng-click="repostContent($index)"/>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 buttonCols"></div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 buttonCols">
						Comentários:
					</div>
				</div>
				<div class="row commentsRow">
					<div class="row newCommentBox">
						<textarea class="newCommentText" maxlength="255" data-ng-model="post.buffer"></textarea>
						<input type="button" value="Comentar" class="btn-primary roundedContainer confirmComment" data-ng-click="newComment($index)"/>
					</div>
					<div class="row commentsBox" data-ng-init="getComments($index)">
						<div class="row comment" data-ng-repeat="comment in post.comments track by $index">
							<a href="/profile/{{comment.authorLogin}}"><h4 class="commentAuthor">
								<span data-ng-hide="post.authorDisplayName == null">{{comment.authorDisplayName}} </span>({{comment.authorLogin}})
							</h4></a>
							<p class="commentText">{{comment.description}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
