<!--STYLES SPECIFIC TO THIS LAYOUT-->
<script src="/js/import/import.js"></script>

<div class="mainDiv" data-ng-app="import" data-ng-controller="import">
  <input type="file" id="fileToRead"/>
  <input type="button" value="Importar" data-ng-click="populateDatabase()"> 
</div>
